<!DOCTYPE html>
<html>
<head>
<title>Prueba</title>
<!-- CDN Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!--End CDN Bootstrap -->

<!-- CDN Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<!-- End CDN Google Fonts -->
</head>
<body>

    <!-- Componente Libreta -->
    <app-libreta></app-libreta>
    <!-- End Componente Libreta -->

    <!-- Componente Ficha -->
    <app-fichas></app-fichas>
    <!-- End Componente Libreta -->
    
</body>
</html>


